doctype html
html( lang="fr" )
    head
        title Egzamen

        link( rel="stylesheet", href="/css/styles.css" )/

    body
        h1 Egzamen

        div#app.
            {{ message }}

        figure
            img( src="/assets/manul.jpg", alt="Windsurf" )/

        script( src="/js/app.js" )